body {
	background-color: #D7CEC7;
	color: #565656;
	font-family: "Verdana";
	}
		
body h1 {
	text-align: center;
	color: #76323F;
	line-height: 200%;
	border: 3px solid BLACK;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	min-width: 750px;
	}
	
h3 {
	text-align: center;
	color: #76323F;
	
	}
p {
	text-align: center;
	}
textarea {
	display: block;
	align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	min-width: 40%;
	}
table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   color: black;
   margin-left: auto;
   margin-right: auto;
}
th {
	
	background-color: DimGray;
}
td {
	background-color: DarkGray;
}
footer {
	border-top: 1px solid BLACK;
	}
#buttons {
	text-align: center;
	padding-bottom: 10px;
	}
#results {
	text-align: center;
	color: White;
	margin-left: auto;
	margin-right: auto;
	max-width: 650;
	min-width: 300;
	}



